{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo list</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- my styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>

    <div class="container vertical-center h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        WHAT DO YOU WANT TO DO TODAY?
                    </div>
                    <div class="card-body">

                        <form action="{% url 'todo_list_url' %}" method="post">

                            {% csrf_token %}

                            {% for field in form %}

                                <div class="input-group mb-3">

                                    {% if field.errors %}
                                      <div class="alert alert-danger">
                                          {{ field.errors }}
                                      </div>
                                    {% endif %}

                                    {{ field }}
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit" id="button-addon2">Add
                                        </button>
                                    </div>
                                </div>

                            {% endfor %}

                        </form>

                        <div class="">
                            <a href="{% url 'delete_completed_url' %}"><button class="btn btn-secondary delete" type="submit">
                                <span class="glyphicon glyphicon-trash"></span>DELETE COMPLETED
                            </button></a>
                            <a href="{% url 'delete_all_url' %}"><button class="btn btn-secondary delete">
                                <span class="glyphicon glyphicon-trash"></span>DELETE ALL
                            </button></a>
                        </div>

                        <ul class="list-group mt-3">
                            {% for task in tasks %}

                                {% if task.complete %}
                                  <li class="list-group-item todo-completed">{{ task.title }}</li>
                                {% else %}
                                  <a href="{% url 'todo_completed_url' task.id %}"><li class="list-group-item">{{ task.title }}</li></a>
                                {% endif %}

                            {% endfor %}
                        </ul>

                        <div class="mt-3">
                            <a href="{% url 'send_todo_url' %}"><button class="btn btn-secondary" type="submit">
                                SEND LIST TO EMAIL
                            </button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>