html, body{
    height:100%;
    margin:0;
    padding:0;
    background: #a3a3c2;
    font-family: 'Josefin Sans', sans-serif;
}

.card {
    background: #fff7e6;
}

.btn-secondary {
    background-color: #59b300 !important;
    border: 0 none;
}

.btn-secondary:hover {
  background-color: #66cc00 !important;
}

.delete {
    background-color: #ffbf00 !important;
}

.delete:hover {
  background-color: #e6ac00 !important;
}

.todo-completed {
    text-decoration: line-through;
    background: rgba(149, 165, 166, 0.3);
}

.list-group-item {
color: black;
}